# encoding: utf-8
---

- set_fact:
    config_dir: '/opt/instana/agent/etc/'
    config_prefix: '/opt/instana/agent/etc/instana/com.instana.agent.'

- name: 'template maven proxy + mirror settings config'
  template:
    dest:  "{{ config_dir }}mvn-settings.xml"
    src: 'templates/maven_settings.j2'
    group: 'root'
    owner: 'root'
    mode: 0644
  notify: 'ensure the agent is running'

- name: 'template maven proxy + mirror settings config'
  template:
    dest:  "{{ config_dir }}org.ops4j.pax.url.mvn.cfg"
    src: 'templates/pax_maven_cfg.j2'
    group: 'root'
    owner: 'root'
    mode: 0644
  notify: instana-agent-restart

- name: 'template agent backend config'
  template:
    dest:  "{{ config_prefix }}main.sender.Backend.cfg"
    src: 'templates/agent_backend.j2'
    group: 'root'
    owner: 'root'
    mode: 0644

- name: 'template agent sensor version pin config'
  template:
    dest: "{{ config_prefix }}bootstrap.AgentBootstrap.cfg"
    src: 'templates/agent_bootstrap.j2'
    group: 'root'
    owner: 'root'
    mode: 0644

- name: 'template agent update config'
  template:
    dest:  "{{ config_prefix }}main.config.UpdateManager.cfg"
    src: 'templates/agent_update.j2'
    group: 'root'
    owner: 'root'
    mode: 0644

- name: 'template agent configuration'
  template:
    dest: "{{ config_dir }}instana/configuration.yaml"
    src: 'templates/agent_config.j2'
    group: 'root'
    owner: 'root'
    mode: 0644

- name: 'create agent meta config'
  file:
    path: "{{ config_prefix }}main.config.Agent.cfg"
    owner: 'root'
    group: 'root'
    mode: 0644
    state: 'file'
  notify: instana-agent-restart

# ansible 2.3 ::
# - name: 'set agent mode in agent meta config'
#   lineinfile:
#     path: "{{ config_prefix }}main.config.Agent.cfg"
#     line: "mode = {{ instana_agent_mode }}"

# ansible < 2.3 ::
- name: 'set agent mode in agent meta config'
  lineinfile:
    destfile: "{{ config_prefix }}main.config.Agent.cfg"
    line: "mode = {{ instana_agent_mode|upper }}"
