# encoding: utf-8
---

- set_fact:
    systemd_srv_dir: '/etc/systemd/system/instana-agent.service.d'

- name: "sysvconfig defaults dir check - does sysconfig exist?"
  stat:
    path: /etc/sysconfig
  register: instana_sysvinit_sysconfig

- name: 'create service dropin subdirectory'
  file:
    path: "{{ systemd_srv_dir }}"
    group: 'root'
    mode: 0755
    owner: 'root'
    state: 'directory'
  when: ansible_service_mgr == 'systemd'

- name: 'create service dropin for resource consumption'
  template:
    dest: "{{ systemd_srv_dir }}/10-resources.conf"
    src: "templates/systemd_resources.j2"
    group: 'root'
    mode: 0644
    owner: 'root'
  notify: reload-systemd
  when: >
    ansible_service_mgr == 'systemd' and
    (instana_agent_limit_cpu_enabled or
    instana_agent_limit_memory_enabled)
