<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>data/repo</localRepository>
  <servers>
    <server>
      <id>features</id>
      <username>agent</username>
      <password>APBSjZhLhjeGZ9uq</password>
    </server>
    <server>
      <id>shared</id>
      <username>agent</username>
      <password>APBSjZhLhjeGZ9uq</password>
    </server>
    {% if instana_agent_mirror_auth_enabled %}
      <server>
        <id>features-mirror</id>
        <username>{{ instana_agent_mirror_auth_username }}</username>
        <password>{{ instana_agent_mirror_auth_password }}</password>
      </server>
      <server>
        <id>shared-mirror</id>
        <username>{{ instana_agent_mirror_auth_username }}</username>
        <password>{{ instana_agent_mirror_auth_password }}</password>
      </server>
    {% endif %}
  </servers>

  <!-- If you want to access the Instana repository using an HTTP/Socks proxy,
       uncomment the proxies section and insert proxy details. -->
  <!-- https://maven.apache.org/guides/mini/guide-proxies.html -->
{% if instana_agent_proxy_enabled %}
  <proxies>
    <proxy>
      <id>agent-proxy</id>
      <active>true</active>
      <protocol>{{ instana_agent_proxy_type }}</protocol>
      <host>{{ instana_agent_proxy_host }}</host>
      <port>{{ instana_agent_proxy_port }}</port>
      {% if instana_agent_proxy_username != '' %}<username>{{ instana_agent_proxy_username }}</username>{% endif %}
      {% if instana_agent_proxy_password != '' %}<password>{{ instana_agent_proxy_password }}</password>{% endif %}
    </proxy>
  </proxies>
{% endif %}

  <!-- If you want to use a company internal mirror, make sure that mirror is
       configured to use the Instana repository, uncomment the mirrors section
       and insert maven mirror details.
       If the mirror also requires auth it can be added above. -->
  <!-- https://maven.apache.org/guides/mini/guide-mirror-settings.html -->
  <!-- Repos that need to be mirrored -->
  <!-- feature: https://repo-public.instana.io/artifactory/features-public -->
  <!-- shared: https://repo-public.instana.io/artifactory/shared -->
  {% if instana_agent_mirror_enabled %}
  <mirrors>
    <mirror>
      <id>features-mirror</id>
      <url>{{ instana_agent_mirror_urls_release }}</url>
      <mirrorOf>features</mirrorOf>
    </mirror>
    <mirror>
      <id>shared-mirror</id>
      <url>{{ instana_agent_mirror_urls_shared }}</url>
      <mirrorOf>shared</mirrorOf>
    </mirror>
  </mirrors>
  {% endif %}
</settings>
